utils/data.csv
kaggle.json
env/
__pycache__
src/pipeline/data_understanding/plots/correlation/**
src/pipeline/data_understanding/plots/distribution/**

src/data_understanding/plots/correlation/loan/

src/data_understanding/plots/distribution/account/

src/data_understanding/plots/distribution/card/

src/data_understanding/plots/distribution/client/

src/data_understanding/plots/distribution/disp/

src/data_understanding/plots/distribution/district/

src/data_understanding/plots/distribution/loan/

src/data_understanding/plots/distribution/trans/
